#nav{
    font-size: 50px;
    text-align: center;
border: solid;
color: blue;
background-color: aquamarine;

}
#parent{
    width: 700px;
    height: 700px;
    border: solid;
    display: flex;
    
}
.child{
 width: 100px;
 height: 100px;
 background-color: blanchedalmond;
}
body{
    font-family: "Roboto";
}

    
#navbar{
    width: 500px;
    height: 100px;
    display: flex; rgb(255, 94, 0); align-items: center; space-between : 20px ; justify-content: space-between;
    background-color: aqua;
}





    
